<div class="container ">
    <h1>Test For Pm2</h1>

    <form action="/" method="post">
        <div>
            <input type="email" name="email" value="{{email}}">
        </div>
        <div>
            <input type="password" name="password" value="{{password}}">
        </div>
        <button type="submit">送出</button>
    </form>

</div>